@media (min-width: 300px) {
    .holis{
        text-align: center !important;
     }
     .final-fi{
        align-items: center !important;
     }
}

@media (min-width: 576px) { 
    .holiss {
       display: ;
     }
     .final-fi{
        align-items: center !important;
     }
}


@media (min-width: 768px) {
 .holis{
    text-align: center !important;
 }

 .final-fi{
    text-align: center !important;
 }
}


@media (min-width: 992px) {
   .primera_falla{
    text-align: center !important;
    
   }
}

@media (min-width: 1200px) {
    .primera_falla{
        text-align: center !important ;
       }
       .flex-container {
        display: flex;
        
      }
}


@media (min-width: 1400px) {
    .primera_falla{
        text-align: center !important;
       }
       .flex-container {
        display: flex;
        
      }
}

@media (min-width: 2500px) {
    .primera_falla{
        text-align: center  !important;
       }
       .flex-container {
        display: flex;
        
      }
  }
