



.heater-textt{
    background-image: linear-gradient(90deg, hsl(186deg 100% 50% / 0%) 0%, hsl(177deg 100% 50% / 72%) 35%),url(./image/medico1.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.one-img {
    border: 20px solid #0a58caad !important;
    border-radius: 2.5rem !important;
}

.final{
    background-image: linear-gradient(90deg, hsl(186deg 100% 50% / 0%) 0%, hsl(177deg 100% 50% / 0%) 35%),url(./image/final.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-2{
    background-image: url(./image/fondo-section3.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-four{
    border: 5px solid #0a58caad !important;
    border-radius: 10.5rem !important;
}

.pictures_six{
    border: 10px solid #0ac6caa8 !important;
    border-radius: 5.5rem !important;
}

.section-seven{
    border: 20px solid #0a58caad !important;
    border-radius: 2.5rem !important;
}

.eigh-section{
    border: 6px solid #dee2e6 !important;
}

.section-ninet{
    background-image: url(./image/nine.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-footer ul>li {
    text-decoration: none;
    list-style: none;
}

.item-footer ul>li>a {
    color: black;
    text-decoration: none;
}

.footerrr{
    background-image: linear-gradient(90deg, #664d0394 0%, #0d6efd6b 35%),url(./image/DSC_97274.svg);
    background-size: cover;
    background-repeat: no-repeat;
}